.wrapper{
    max-width: 1440px;
    margin: 40px auto;
    display: flex;
}

.sidebar{
    flex: 1 1 240px
}

.sidebar__container{
}

.sidebar__header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
}

.sidebar__header--img{
    margin-right: 10px;
}
.sidebar__header--text{
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 5px;
}

.sidebar__items{
    margin-top: 54px;
    margin-left: 15px;
}

.item__catalog{
    display: flex;
    padding: 22px 42px;
}

.item__catalog--img{
    margin-right: 15px;
}

.item__catalog--text{
    font-family: "Open Sans";
    font-size: 16px;
}

.content{
    flex: 4 1 1200px
}

.content__container{
    max-width: 1200px;
    margin: 0 auto;
}

.content__header{
    max-width: 1080px;
    margin: 0 auto;
}

.content__label{
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 31px;
}

.content__input{
    position: relative;
}

.content__input input{
    width: 95%;
    border: 1px solid #000000;
    border-radius: 50px;
    outline: none;
    padding: 12px 0 12px 34px
}

.content__input input::placeholder{
    font-family: "Open Sans";
    font-size: 14px;
    opacity: 0.7
}

.content__input svg{
    position: absolute;
    top: 10px;
    left: 12px;
}

.content__tickets{
    margin-top: 80px;
}

.tickets__container{
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.tickets__item-1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}
.tickets__item-2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}
.tickets__item-3{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}
.tickets__item-4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
}
.tickets__item-5{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
}
.tickets__item-6{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
}
.tickets__item-7{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
}
.tickets__item-8{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
}
.tickets__item-9{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
}
.tickets__item-10{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-between;
}
.tickets__item-11{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-between;
}
.tickets__item-12{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-between;
}

.tickets__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ticket__header{

}

.ticket-label{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
}

.ticket-description{
    font-family: 'Roboto';
    font-size: 14px;
    color: #9f9f9f;
}

.ticket__discount{

}

.ticket__discount-value{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 36px;
    color: rgba(223, 33, 45, 1)
}

.ticket__discount-description{
    font-family: 'Roboto';
    font-size: 16px;
    color: #9f9f9f;
    letter-spacing: 0.4em;
}
