*:before {
    box-sizing: border-box;
}

*:after {
    box-sizing: border-box;
}

body {
    margin: 0
}

.wrapper {
    max-width: 1440px;
    margin: 40px auto;
    display: flex;
}

.sidebar {
    flex: 1 1 240px;
    position: relative;
    transition: 200ms ease-in;
}

.sidebar.active{
    flex: 1 1 400px;
}

.sidebar__container {
    position: fixed;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__logo {
    margin-right: 10px;
    margin-left: 35px;
}

.sidebar__name {
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 5px;
}

.sidebar__menu-burger {
    display: none;
    min-height: 100vh;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.sidebar__menu-btn {
    display: none;
}

.sidebar__items {
    margin-top: 41px;
    transition: 200ms ease-in;
}

.sidebar__items.activeItems span{
    display: inline;
}

.items__list{
    padding: 0;
}

.items__list > li{
    display: flex;
    cursor: pointer;
    min-height: 64px;
    align-items: center;
}

.items__list > li > img{
    margin-right: 15px;
    padding-left: 35px;
}

.items__list > li > span{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
}

.content {
    flex: 4 1 1200px;
}

.content__container {
    max-width: 1200px;
    margin: 0 auto;
}

.content__header {
    max-width: 1080px;



    margin-left: 50px;
}

.header__label{
    font-weight: 600;
    font-family: "Open Sans";
    font-size: 28px;
}

#burgerMenu{
    display: none;
}

.content__input {
    display: flex;
    align-items: center;
    height: 106px;
    max-width: 1080px;
    margin: 0 auto;
    position: sticky;
    z-index: 1000;
    top: 0;
    background: white;
    padding-right: 20px;
}

.content__input input {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 50px;
    outline: none;
    padding: 12px 0 12px 34px;
    position: relative;
}

.content__input input::placeholder {
    font-family: "Open Sans";
    font-size: 14px;
    opacity: 0.7
}

.content__input img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    filter: invert(75%) sepia(1%) saturate(334%) hue-rotate(314deg) brightness(87%) contrast(80%);
}

.content__tickets {
    margin-top: 30px;
}

.tickets__container {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.tickets__container > div{
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 6px;
}

.tickets__container > div:hover{
    box-sizing: border-box;
    border: 1px solid crimson;

}

.tickets__content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ticket__header {

}

.ticket-label {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
}

.ticket-description {
    font-family: 'Roboto';
    font-size: 14px;
    color: #9f9f9f;
}

.ticket__discount {

}

.ticket__discount-value {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 36px;
    color: rgba(223, 33, 45, 1)
}

.ticket__discount-description {
    font-family: 'Roboto';
    font-size: 16px;
    color: #9f9f9f;
    letter-spacing: 0.4em;
}

@media (max-width: 1200px) {
    .sidebar__logo {
        margin-left: 15px;
    }
    .items__list > li > img{
        padding-left: 15px;
    }
}

@media (max-width: 1140px) {
    .sidebar__logo {
        margin-left: 8px;
    }
    .items__list > li > img{
        padding-left: 8px;
    }
}

@media (max-width: 992px) {
    .sidebar__header {
        justify-content: flex-start;
        margin-left: 15px;
    }

    .sidebar__name {
        display: none;
    }

    .sidebar__name.activeHeader{
        display: inline;
    }

    .sidebar__items.active{
        flex: 2 1 340px;
    }

    .items__list > li > span{
        display: none;
    }
    .items__list > li > img{
        padding-left: 35px;
        transition: 200ms ease-in;
    }

    .content__header{
        text-align: end;
        max-width: 100%;
        margin: 0;
        position: relative;
    }

    .header__label{
        text-align: end;
        margin-right: 25px;
        margin-top: -4px;
    }

    #burgerMenu{
        display: inherit;
        position: fixed;
        top: 6.5%;
        left: 10%;
        z-index: 2000;
        transition: 200ms ease-in;
    }

    #burgerMenu.activeBurger{
        left: 25%;
    }

    .content__input{
        justify-content: flex-end;
        padding-top: 20px;
        height: 95px;
        margin-right: 8px;
        padding-right: 0;
    }

    .content__input img{
        left: 6%;
    }

    .tickets__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 6px;
    }

    .content__input input {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .sidebar.active{
        flex: 1 1 450px
    }

    .sidebar__header {
        justify-content: flex-start;
        margin-left: 30px;
        margin-top: 4px;
    }

    .sidebar__logo img{
        width: 24px;
        height: 24px;
    }

    .items__list .itemActive img{
        padding-left: 10px;
    }

    .items__list > li > span{
        font-size: 13px;
    }

    #burgerMenu{
        top: 5.4%;
        left: 12%;
    }

    .content__input{
        justify-content: flex-end;
        padding-top: 10px;
        margin-right: 8px;
    }

    .content__input img{
        left: 5%;
    }

    .ticket-label {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
    }

    .ticket-description {
        font-family: 'Roboto';
        font-size: 12px;
        color: #9f9f9f;
    }

    .ticket__discount-value {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 30px;
        color: rgba(223, 33, 45, 1)
    }

    .ticket__discount-description {
        font-family: 'Roboto';
        font-size: 14px;
        color: #9f9f9f;
        letter-spacing: 0.3em;
    }
}

@media (max-width: 605px) {
    .sidebar.active{
        flex: 1 1 450px
    }
    .sidebar__header {
        justify-content: flex-start;
        margin-left: 15px;
    }
    .items__list > li > img{
        margin-left: 0;
        padding-left: 20px;
    }
    #burgerMenu{
        top: 5.3%;
        left: 10%;
    }
}

@media (max-width: 560px){
    .content__input input {
        width: 85%;
    }

    .content__input img{
        left: 8%;
    }

    .tickets__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 6px;
    }

}

@media (max-width: 450px) {
    .sidebar{
        overflow: hidden;
        margin-left: -80px;
    }

    .sidebar.active{
        margin-left: 0;
    }

    .sidebar__header{
        margin-right: 10px;
        margin-left: 0px;
    }

    .sidebar__name {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .items__list .itemActive img{
        display: none;
    }

    .items__list .itemActive span{
        padding-left: 5px;
        margin-left: 5px;
    }

    .content__input input {
        width: 85%;
        padding: 12px 0 12px 3px;
    }
    .content__input input::placeholder{
        font-size: 12px;
    }
    .content__input img{
        display: none;
    }
    .header__label{
        font-weight: 600;
        font-family: "Open Sans";
        font-size: 20px;
    }
    #burgerMenu{
        left: 4%;
    }
    .content__input img{
        left: 18.5%
    }

    .tickets__img img{
        width: 89px;
    }
}
@media (max-width: 340px){
    #burgerMenu{
        left: 1%;
        top: 5.3%;
    }
    .content{
        margin: 0 4px 0 23px
    }
}